/* font families */
h1, h2, h3 {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
}

h4, h5, p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.5em;
}

/* coloring modifications */
.my-leadline-text {
  color: #DFD5D5;
}

.my-primary-text {
  color: #8E2D3B;
}

.my-secondary-text {
  color: #412F2B;
}

.my-muted-text {
  color: #DFD5D5;
}

.my-dark-text {
  color: #14171F;
}

.my-bg-subdued {
  background-color: #14171F;
}

.my-bg-primary {
  background-color: #C5314C;
}

.my-bg-secondary {
  background-color: #EADE9D;
}

.red-gradient-bg {
  background-image: linear-gradient(180deg, #8E2D3B, #14171F);
}

.dusk-gradient {
  background-image: linear-gradient(180deg, #14171F, #14171F, #283149);
}

/* backgrounds */
div.pattern-bg {
  background-image: url(../img/prism.png);
  background-repeat: repeat;
}
div.texture {
  background-color: #dfd5d5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c5314c' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.parallax {
  /* background darkening with gradient */
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/abstruse-header.png);
  /* height: 100%; */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  min-height: 100vh;
  width: auto;
  margin-bottom: 0px;
}

#main-header {
  color: #DFD5D5;
}

div.breathing-room {
  margin-top: 50px;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6, p, i {
  margin: auto 20px auto;
}

i {
  padding-top: 25px;
  font-size: 5em;
}

iframe {
  border:20px solid #14171F;
  border-radius: 20px !important;
}

/* breakpoint modifications */
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 3.5em;
    text-align: center;
    margin: 0px auto;
    display; block
  }
  h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0px auto;
    display; block
  }
  p {
    font-size: .9em;
  }
  #icons {
    text-align: center;
    font-size: .5em;
  }
}
